html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* custom design */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.container{
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

li{
    list-style-type: none;
    display: inline-block;
    margin: 0 4px;
}
li:first-child{
    margin-left: 0;
}
li:last-child{
    margin-right: 0;
}

/* typography */
h1,h2,h3,h4,p{
    margin-bottom: 30px;
}
h1{
    font-size: 36px;
}
h2{
    font-size: 24px;
}
h3{
    font-size: 21px;
}
h4{
    font-size: 18px;
}

h1,h2,h3,h4{
    font-weight: bold;
}
ul,img{
    margin-bottom: 10px;
}

/* footer */
.bottom-links a{
    text-decoration: none;
    color: black;
    background-color: #79d70f;
    padding: 5px;
    margin-bottom: 5px;
}